.header {
    padding: 5px;
    transition: 0.5s;
}

.header-links {
    text-align: center;
    margin: auto;
}

.header-photo {
    text-align: center;
    /* padding-top: 20px; */
    padding: 30px 10px 15px 10px;
}

.header-photo img {
    margin: auto;
    width: 15em;
    border-radius: 100%;
}

.header h3 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
}

.header-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
}

.header span {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    /* text-decoration: none; */
    /* color: inherit; */
}

.header h3 > img {
    width: 1.5em;
    border-radius: 100%;
    margin: auto;
    display: flex;
}

.header-links h3 {
    font-size: 1em;
    margin: auto;
    padding-top: 8px;
}

.header-links h3 > span {
    display: inline-block;
    padding: 5px 10px;
}

@media (min-width: 1200px) {
    .header-name {
        text-align: left;
    }

    .header-links {
        text-align: right;
    }

    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}
