.footer {
    padding: 1em;
}

.footer p {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

.footer a {
    text-decoration: none;
}

.footer-heart {
    color: red;
}

.footer-credits {
    opacity: 0.01;
}
